{% extends 'base.html' %}
{% block content %}
    <div class="container my-3">
        {# 질문 #}
        <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">           {# "white-space: pre-line: 글 내용의 줄바꿈을 정상적으로 표시하기 위해 적용한 스타일. #}
                <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div> <!-- white-space: 공백(줄바꿈, 들여쓰기, space 등), pre-line: 공백을 여러 개 넣어도 1개만 표시. -->
                <div class="d-flex justify-content-end"> {# 컴포넌트 우측 정렬 #}
                    <div class="badge bg-light text-dark p-2"> {# bg-light: 연회색 배경 #}
                        {{ question.create_date }}
                    </div>
                </div>
            </div>
        </div>
        {# 답변 #}
        <h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
        {% for answer in question.answer_set.all %}
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2">
                            {{ answer.create_date }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {# 답변 등록 #}
        <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
            {% csrf_token %}
            <!-- 오류 표시 Start -->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <div>
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <!-- 오류 표시 End -->
            <div class="form-group">
                <textarea name="content" id="content" class="form-control" rows="10"></textarea>
            </div>
            <input type="submit" value="답변 등록" class="btn btn-primary">
        </form>
    </div>
{% endblock %}